@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    color: #242424;
    background-color: rgba(255, 255, 255, 0.87);
    min-width: 640px;
  
  }